body {
  color: #434455;
  background-color: #ffffff;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
}

.container {
  width: 1158px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* навігація хедера */
.menu {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.menu .container {
  display: flex;
}

.menu-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo-upp {
  color: #4d5ae5;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-family: "Raleway", sans-serif;
  width: 115px;
  margin-right: 76px;
}

.accent-upp {
  color: #2e2f42;
}

.nav-item {
  display: flex;
  gap: 40px;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
  position: relative;
}

.nav-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
/* !!! */

/* контакти в навігації хедера */
.contacts {
  font-style: normal;
}

.contacts-item {
  display: flex;
  padding: 24px 0;
  gap: 40px;
}

.contact-link {
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.contact-link:hover,
.nav-link:focus,
.contact-link:focus,
.nav-link.current {
  color: #404bbf;
}
/* !!! */

/* секція з кнопкою */
.main-page {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 188px 0;
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
}

.main-page-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  margin-bottom: 48px;
  margin-right: auto;
  margin-left: auto;
}

.page-button {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  font-family: inherit;
  display: block;
  border: none;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin-right: auto;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-button:hover,
.page-button:focus {
  background-color: #404bbf;
}
/* !!! */

/* секція з прихованим заголовком */
.sect-hidden {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  display: flex;
  gap: 24px;
}

.page-list {
  width: 264px;
  width: calc((100% - 72px) / 4);
}

.advantages {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}

.advantages-icons {
  margin: 24px 0;
}

.page-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.text-facts {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
}
/* !!! */

/* секція фахівців */
.our-sect {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.prof-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
  margin-right: auto;
  margin-left: auto;
}

.prof-our {
  display: flex;
  gap: 24px;
}

.prof-cart {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  width: 264px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  width: calc((100% - 72px) / 4);
}

.cont-cart {
  padding: 32px 0;
}

.title-cart {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.title-text {
  font-size: 16px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.team-item {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.team-list {
  width: 40px;
  height: 40px;
}

.team-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icons {
  fill: #f4f4fd;
}

.team-link:hover,
.team-link:focus {
  background-color: #404bbf;
}
/* !!! */

/* секція портфоліо */
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portf-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portf-item {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portf-list {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portf-list:hover .overlay-text {
  transform: translateY(0);
}

.cont-border {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  width: 360px;
}

.portf-cart {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portf-text {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
}

.portf-list:hover,
.portf-list:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
/* !!! */

/* підвал сторінки */
.under {
  background-color: #2e2f42;
  padding: 100px 0;
}

.under .container {
  display: flex;
  align-items: baseline;
}

.footer-container {
  display: flex;
  flex-direction: column;
  margin-right: 120px;
}

.logo-under {
  color: #4d5ae5;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-family: "Raleway", sans-serif;
  width: 115px;
  margin-bottom: 16px;
}

.accent-under {
  color: #f4f4fd;
}

.under-text {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}

.social-container {
  margin-right: 80px;
}

.social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.under-item {
  display: flex;
  gap: 16px;
}

.under-list {
  width: 40px;
  height: 40px;
}

.under-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-under {
  fill: #f4f4fd;
}

.under-link:hover,
.under-link:focus {
  background-color: #31d0aa;
}

.subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.form-subscribe {
  display: flex;
  gap: 24px;
}

.email-user {
  border-radius: 4px;
  min-width: 264px;
  height: 40px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  outline: none;
  background-color: transparent;
  border: 1px solid #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email-user::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.btn-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-icon {
  fill: #ffffff;
  margin-left: 16px;
}

/* !!! */

/* modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
  padding-top: 72px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close {
  fill: #2e2f42;
  border: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover,
.btn-close:focus {
  border: none;
  background-color: #404bbf;
}

.btn-close:hover .icon-close,
.btn-close:focus .icon-close {
  fill: #ffffff;
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form-user-wrapper {
  margin-bottom: 8px;
}

.form-user-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.form-user-icon-wrapper {
  position: relative;
}

.form-input-text {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-user-icon {
  position: absolute;
  fill: #2e2f42;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-text:focus {
  border: 1px solid #4d5ae5;
}

.form-input-text:focus + .form-user-icon {
  fill: #4d5ae5;
}

.form-user-comment-wrapper {
  margin-bottom: 16px;
}

.form-user-comment {
  resize: none;
  width: 100%;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  min-height: 120px;
  border-radius: 4px;
  padding: 8px 16px;
  outline: transparent;
  background-color: transparent;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-user-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.form-user-comment:focus {
  border: 1px solid #4d5ae5;
}

.cont-checkbox {
  margin-bottom: 24px;
}

.privacy {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.castom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  fill: transparent;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy a {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.checkbox:checked + .privacy .castom-checkbox {
  fill: #f4f4fd;
  background-color: #404bbf;
  border: none;
}

.form-btn-submit {
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  cursor: pointer;
  border: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
